<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Aprendendo flask</title>
</head>
<body>
    <section class="container">
        <h1 class="titulo"><a href="{{ url_for('retorno')}}">Cotações e CEP</a></h1>
        <p class="subtitulo">Consumindo API e aprendendo flask....</p>
        <p class="subtitulo"><a href="{{ url_for('cep')}}">Nova Busca</p>
        <table class="tabela">
            <tr class="tabela">
                <th>CEP</th>
                <th>Bairro</th>
                <th>Logradouro</th>
                <th>Localidade</th>
                <th>UF</th>
                <th>DDD</th>
            </tr>
            <tr>
                <td>{{ consultarCep }}</td>
                <td>{{ consultarBairro }}</td>
                <td>{{ consultarLogradouro }}</td>
                <td>{{ consultarLocalidade }}</td>
                <td>{{ consultarUf }}</td>
                <td>{{ consultarDdd }}</td>
            </tr>
        </table>
    </section
</body>
</html>