<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Aprendendo flask</title>
</head>
<body>
    <section class="container">
        <h1 class="titulo"><a href="{{ url_for('retorno')}}">Cotações e CEP</a></h1>
        <p class="subtitulo">Consumindo API e aprendendo flask....</p>
        <form action="/pesquisar" method="post">
            <label for="nome">CEP</label>
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o CEP para pesquisar, apenas números">
          <button type="submit" class="btn btn-primary btn-salvar">Pesquisar</button>
        </form>
        <p class="botaoVoltar"> <a href="{{ url_for('retorno')}}">&#11013;</a></p>
        <a href="https://www.linkedin.com/in/jonathan-imolesi/" target="_blank"><img src="{{url_for('static', filename='LI-In-Bug.png')}}"/></a>
    </section>
</body>
</html>